.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--header-bg-color);
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: hidden;
}

.logo-container > img {
    padding: 10px 0 10px 15px;
    width: 100px;
}

.logo-container {
    flex: 50%;
}

.nav-container > ul {
    list-style-type: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.nav-container > ul > li {
    padding: 10px;
    font-size: large;
    cursor: pointer;
}